/* orientaiton time picker */
.orientation-time {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

.orientation-time td {
  height: 30px;
  width: 40px;
  max-width: 40px;
}

.orientation-time tr:nth-child(even) {
  background-color: #d7d7d7;
}

.orientation-time tr:nth-child(odd) {
  background-color: #EFEFEF;
}

.orientation-time tr:nth-child(1) {
  height: 40px;
}

.orientation-time td:hover {
  background-color: #136194;
  opacity: .5;
}

/* selected time */
.orientation-time-selected {
 background-color : #136194;
}

.orientation-time td:nth-child(1) {
  background-color: #f4f4f4;
  text-align: center;
}

.hidden {
  display: none;
}