/* orientaiton time picker */
.orientation-time {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

.orientation-time td {
  height: 30px;
  width: 40px;
  max-width: 40px;
}

.orientation-time tr:nth-child(even) {
  background-color: #d7d7d7;
}

.orientation-time tr:nth-child(odd) {
  background-color: #EFEFEF;
}

.orientation-time tr:nth-child(1) {
  height: 40px;
}

.orientation-time td:hover {
  background-color: #136194;
  opacity: .5;
}

/* selected time */
.orientation-time-selected {
 background-color : #136194;
}

.orientation-time td:nth-child(1) {
  background-color: #f4f4f4;
  text-align: center;
}

.hidden {
  display: none;
}


/*  NAV */

nav {
  min-height: 100%;
  height: 100%; 
  background-color: #136194;  
  float:left;
  position: fixed;
  width: 16.66666%;
  min-width: 150px;
  z-index: 2;
}

nav .logo-text {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0, 0.25);
  font-size: 1.8em;
  padding-top: 15px;
}

nav::after {
  clear: both;
}

nav ul {
  list-style: none;
  padding-left: 0;
  padding-top: 60px;
  height: 100%;

}

nav li {
  text-decoration: none;
  position: relative;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,0.25);
  border-top: 1px solid rgba(255,255,255,0.4);
  padding: 10px 0 10px 0;
}

nav li:last-child {
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

nav a,
nav a:visited,
nav a:active,
nav a:link {
  position: relative;
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  color: #fff;
  left: 10px;
  transition: left 10s ease;
}

nav .greeting {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

nav li a:hover {
  text-decoration: none;
}

 .bottom-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.bottom-nav .logout {
  color: #fff;
  text-align: center;
  cursor: pointer;
}

 /********ADMIN*********/
/* Client View*/

.client-view-head {
  background-color: #9872d3;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1;

}

.client-view-head h1 {
  margin-top: 0;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,0.25);
  text-align: center;
  padding-top: 5px;
}

.client-view {
  padding-top: 60px;
}


/******MAIN*********/
.main {
  width: 82.5%;
  float: right;
}

/******landing*********/

.login-panel {
  margin: 0 auto;
  width: 35%;
  border: 1px solid #aaa;
}