<template name="makePairing">
  <div>
  <h3>Consulting with:</h3>
    <ul>
    {{#each pairings}}
      <li>{{providerTitle}} Role: {{role}} <a href="#" class="unpair">unpair</a></li>
    {{/each}}
    </ul>
  </div>
    sanity check: {{currentClient}}
  <form>
    <label for="provider">Provider:</label>
    <select name="provider">
      {{#each providerList}}
      <option name="{{profile.firstName}} {{profile.lastName}} {{profile.credential}}" value="{{_id}}">{{profile.firstName}} {{profile.lastName}} {{profile.credential}}</option>
      {{/each}}
    </select>
    <label for="role">Role:</label>
    <select name="role">
      <option value="Nutrition">Nutrition</option>
      <option value="Exercise">Exercise</option>
      <option value="Culinary">Culinary</option>
      <option value="Navigator">Navigator</option>
    </select>
    <button type="submit">Pair</button>
  </form>
</template>