<template name="nav">
<div class="col-md-2">
  <nav>
  <p class="logo-text">PreviMedica</p>
  <p class="greeting">hello {{currentUser.profile.firstName}}</p>
  {{#if currentUser}}
    <ul class="nav-side">
      <li><a href="{{pathFor 'schedule'}}">Schedule</a></li>
      <li><a href="{{pathFor 'profile'}}">Profile</a></li>
      <!-- set this as conditional, if admin then -->
      {{#if currentUser.profile.isAdmin}}
      <li><a href="{{pathFor 'admin'}}">Admin</a></li>
      {{/if}}
    </ul>
    <div class="bottom-nav">
    <p class="logout">logout</p>
    </div>
  {{/if}}
  </nav>
  </div>
</template>