<template name="onboard">
{{onboardStatus}}
  <section id="welcome">
    <h1>Your Health</h1>
    <h3>So that we may provide the best and most personalized guidance possible, we would like to know about you and your overall health. Please complete this questionnaire for your PreviMedica nutrition expert to review prior to your first consultation. We ensure that all information provided will remain strictly confidential.</h3>
  </section>
    <form id="basic-information">
        <label for="age">Age:</label>
        <input type="number" name="age">
        <label for="height">Height:</label>
        <input type="number" name="height">
        <label for="weight">Weight:</label>
        <input type="number" name="weight">
        <button type="submit">next</button>
    </form>
    <form id="weight-digestion">
        <label for="weightComfort">Do you feel comfortable with your current weight?</label>
        <input type="radio" name="weightComfort" value="yes">
        <input type="radio" name="weightComfort" value="no">
        <label for="weightGoal">If no, what is your goal weight?</label>
        <input type="text" name="weightGoal">
        <label for="medicalConditions">Re-think this, how it should work, multiple inputs into an array</label>
        <input type="text" name="medicalConditions">
        <label for="digestiveIssues">Digestive issues (check all that apply):</label>
        <input type="checkbox" name="digestiveIssues" value="gas">
        <input type="checkbox" name="digestiveIssues" value="constipation">
        <input type="checkbox" name="digestiveIssues" value="diarrhea">
        <input type="checkbox" name="digestiveIssues" value="bloating">
        <input type="checkbox" name="digestiveIssues" value="acid_reflux">
        <input type="checkbox" name="digestiveIssues" value="nausea">
        <label for="bowelMovements">How often do you have a bowel movement</label>
        <input type="text" name="bowelMovements">
        <button type="submit">next</button>
    </form>
    <form id="meds">
      <label for="medications">Please provide the medication name, dosage, frequency and start date of any medications you are currently taking.</label>
      <input type="text" name="medications">
      <label for="supplements">Are you currently taking any dietary supplements? If so please provide the name, dosage, frequency and start date.</label>
      <input type="text" name="supplements">
      <button type="submit">next</button>
    </form>
    <form id="allergies">
      <label for="allergies">Do you have any food allergies? If so please list below:</label>
      <input type="text" name="allergies">
      <label for="mdDiets">Has your physician presribed any special diet for you? If so please describe</label>
      <input type="text" name="mdDiets">
      <button type="submit">next</button>
    </form>
    <section id="orientation">
      <h1>Pick 3 times</h1>
    </section>
</template>
