<template name="basicinfo">
    <section id="welcome">
    <h1>Your Health</h1>
    <h3>So that we may provide the best and most personalized guidance possible, we would like to know about you and your overall health. Please complete this questionnaire for your PreviMedica nutrition expert to review prior to your first consultation. We ensure that all information provided will remain strictly confidential.</h3>
  </section>
    <form id="basic-information">
        <label for="age">Age:</label>
        <input type="number" name="age">
        <label for="height">Height:</label>
        <input type="number" name="height">
        <label for="weight">Weight:</label>
        <input type="number" name="weight">
        <button type="submit">next</button>
    </form>
</template>