<template name="honorcodeinfo">
  <section id="honorcode">
  <div>
  <p>Cancellation/Rescheduling of an Appointment 
    We require at least 24 hours notice, so that your appointment time can be reallocated to someone else. Late cancellations will be considered as a “no show”.
    No Show Policy
    A "no show" is someone who misses an appointment without canceling it at least 24 hours in advance or who fails to keep a scheduled appointment. In the event a 24 hour notice is not given, a fee of $20.00 will be charged for missed appointments.</p>
    <form id="honorcode-form">
      <label for="noShowPolicy">I agree (because I'm awesome!)</label>
      <input type="checkbox" name="noShowPolicy">
      <button type="submit">Agree</button>
    </form>
  </div>
</section>
</template>