<template name="labinfo">
  <h2>In the past year, have you had any blood work done to evaluate your overal heallth?</h2>
  <form>
    <label for="cholestrol">Cholestrol</label>
    <input type="number" name="cholestrol">
    <label for="triglycerides">Triglycerides</label>
    <input type="number" name="triglycerides">
    <label for="ldl">LDL</label>
    <input type="number" name="ldl">
    <label for="hdl">HDL</label>
    <input type="number" name="hdl">
    <label for="fastingGlucose">Fasting Glucose</label>
    <input type="number" name="fastingGlucose">
    <label for="hba1c">HbA1C</label>
    <input type="number" name="hba1c">
    <label for="crp">C-Reactive Protein</label>
    <input type="number" name="crp">
    <label for="bpsystolic">Blood Pressure Systolic</label>
    <input type="number" name="bpsystolic">
    <label for="bpdiastolic">Blood Pressure Diastolic</label>
    <input type="number" name="bpdiastolic">
    <button type="submit">next</button>
  </form>
</template>