<template name="medsinfo">
      <form id="meds">
      <label for="medications">Please provide the medication name, dosage, frequency and start date of any medications you are currently taking.</label>
      <input type="text" name="medications">
      <label for="supplements">Are you currently taking any dietary supplements? If so please provide the name, dosage, frequency and start date.</label>
      <input type="text" name="supplements">
      <button type="submit">next</button>
    </form>
</template>