<template name="weightinfo">
  <form id="weight-digestion">
    <label for="weightComfort">Do you feel comfortable with your current weight?</label>
    <input type="radio" name="weightComfort" value="yes">
    <input type="radio" name="weightComfort" value="no">
    <label for="weightGoal">If no, what is your goal weight?</label>
    <input type="text" name="weightGoal">
    <label for="medicalConditions">Re-think this, how it should work, multiple inputs into an array</label>
    <input type="text" name="medicalConditions">
    <label for="digestiveIssues">Digestive issues (check all that apply):</label>
    <input type="checkbox" name="digestiveIssues" value="gas">
    <input type="checkbox" name="digestiveIssues" value="constipation">
    <input type="checkbox" name="digestiveIssues" value="diarrhea">
    <input type="checkbox" name="digestiveIssues" value="bloating">
    <input type="checkbox" name="digestiveIssues" value="acid_reflux">
    <input type="checkbox" name="digestiveIssues" value="nausea">
    <label for="bowelMovements">How often do you have a bowel movement</label>
    <input type="text" name="bowelMovements">
    <button type="submit">next</button>
</form>
</template>